<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>LOGO</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Inicio</a>
      <a mat-list-item href="#">Tarjetas</a>
      <a mat-list-item href="#">Préstamos</a>
      <a mat-list-item href="#">Operaciones</a>
      <a mat-list-item href="#">Te ofrecemos</a>
      <a mat-list-item href="#">Seguros</a>
      <a mat-list-item href="#">Puntos</a>
      <a mat-list-item href="#">Ayuda</a>
      <a mat-list-item href="#">Cerrar Sesión</a>






    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>LOGO</span>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content >
  
</mat-sidenav-container>
