<div class="mat-elevation-z8">
  <table mat-table [dataSource]="data" class="full-width-table" matSort aria-label="Elements" >

    <!-- Id Column -->
    <ng-container matColumnDef="receptor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Receptor</th>
      <td mat-cell *matCellDef="let row">{{row.receptor}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
      <td mat-cell *matCellDef="let row">{{row.monto}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">{{row.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row">{{row.estado}}

        
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
